<!DOCTYPE html>
<html>
	<head>
		<title>Test Sessions</title>
	</head>
	<body>
		<h1>Test Sessions</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Time</th>
					<th>Valid</th>
					<th>Status</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
				<tr>
					<td><a href="/session/{{urlquery .SessionId}}">{{.Time}}</a></td>
					<td><a href="/session/{{urlquery .SessionId}}">{{.Valid}}</a></td>
					<td><a href="/session/{{urlquery .SessionId}}">{{.Status}}</a></td>
					<td><a href="/session/{{urlquery .SessionId}}">{{.Message}}</a></td>
				</tr>
				{{else}}
				<tr>
					<td colspan="4">No sessions found for this test.</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		<a href="/dashboard">Back to Dashboard</a>
	</body>
</html>
